{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    {{ form.non_field_errors }}
                    <div class="card">
                        <div class="card-header">
                            <legend>Change your password here :</legend>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="console_url" class="col-sm-4 control-label">{{ form.old_password.label_tag }}</label>
                                    <div class="col-sm-8">
                                        {% if form.old_password.errors %}
                                        <input type="password" class="form-control is-invalid" name="old_password" placeholder="Old password" value="">
                                        {% else %}
                                        <input type="password" class="form-control" name="old_password" placeholder="Old password" value="">
                                        {% endif %}
                                        <div class="invalid-feedback">{{ form.old_password.errors }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="console_url" class="col-sm-4 control-label">{{ form.new_password1.label_tag }}</label>
                                    <div class="col-sm-8">
                                        {% if form.new_password1.errors %}
                                        <input type="password" class="form-control is-invalid" name="new_password1" placeholder="New password" value="">
                                        {% else %}
                                        <input type="password" class="form-control" name="new_password1" placeholder="New password" value="">
                                        {% endif %}
                                        <div class="invalid-feedback">{{ form.new_password1.errors }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="console_url" class="col-sm-4 control-label">{{ form.new_password2.label_tag }}</label>
                                    <div class="col-sm-8">
                                        {% if form.new_password2.errors %}
                                        <input type="password" class="form-control is-invalid" name="new_password2" placeholder="New password confirmation" value="">
                                        {% else %}
                                        <input type="password" class="form-control" name="new_password2" placeholder="New password confirmation" value="">
                                        {% endif %}
                                        <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-offset-2 col-sm-5">
                                        <button type="submit" class="btn btn-primary" name="submit" placeholder="Save">Save changes</button>&nbsp;
                                        <button type="submit" class="btn btn-outline-primary" name="cancel" placeholder="Cancel">Cancel</button>
                                    </div>
                                </div>
                                <input type="hidden" name="next" value="{{ next }}" />
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}

