{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" /> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static 'jquery/jquery-2.1.4.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootbox.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <!-- <script src="{% static 'js/datatables.min.js' %}"></script> -->
    <script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js" type="text/javascript"></script>
    <script defer src="{% static 'fontawesome/fontawesome-all.js' %}" type="text/javascript"></script>
</head>
<body>

<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="/">EZ AWS ({{ VERSION }})</a></li>
        </ul>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% bootstrap_messages %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
    {% block more_js %}{% endblock %}
</body>
</html>