{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Audit AWS Resources" %}{% endblock %}
{% block content %}
<div class="card card-default">
  <div class="card-body">
<h2>
    <button class="btn btn-primary btn-lg" type="button">Orphan/Unused Resources</button>
</h2>

<table class="table table-hover">
    <thead><tr><td>Resource Type</td><td>Total Count</td><td>Orphan/Unused<br>Count</td><td>Orphan/Unused List</td><td>Total Size</td><td>Total Price</td></tr></thead>
    <tbody class="table-striped">

    <!-- Orphan Volumes -->
    <tr>
        <td><span class="btn btn-info">Volumes</span></td>
        <td><span class="badge badge-success">{{ total_vols }}</span></td>
        <td>{% if orphan_vols|length %}<span class="badge badge-danger">{% else %}<span class="badge badge-success">{% endif %}{{ orphan_vols|length }}</span></td>
        <td>
            {% for volid in orphan_vols %}
                <span class="badge badge-primary">{{ volid }}</span>&nbsp;
                    {% for key, value in vol_sizes.items %}
                        {% if key == volid %}<span class="badge badge-info">{{ value }} GiB</span>{% endif %}
                    {% endfor %}&nbsp;
            {% endfor %}
        </td>
        <td>{% if total_vols_size %}
            <span class="badge badge-info">{{ total_vols_size }} GiB</span>
            {% endif %}
        </td>
        <td>
            {% if total_vols_price %}
                <span class="badge badge-warning">{{ total_vols_price }}</span>
            {% else %}
                <span class="badge badge-secondary">{{ total_vols_price }}</span>
            {% endif %}
        </td>
    </tr>

    <!-- Orphan AMIs -->
    <tr>
        <td><span class="btn btn-info">AMIs</span></td>
        <td><span class="badge badge-success">{{ total_amis }}</span></td>
        <td>{% if orphan_amis|length %}<span class="badge badge-danger">{% else %}<span class="badge badge-success">{% endif %}{{ orphan_amis|length }}</span></td>
        <td>
            {% for key, value in orphan_amis.items %}
                <span data-toggle="tooltip" data-placement="top" title="{{ value.name }}" class="badge badge-primary">{{ key}}</span>&nbsp;
                <span class="badge badge-info">{{ value.size }} GiB</span>
            {% endfor %}
        </td>
        <td>{% if total_amis_size %}
            <span class="badge badge-info">{{ total_amis_size }} GiB</span>
            {% endif %}
        </td>
        <td>
            {% if total_amis_price %}
                <span class="badge badge-warning">{{ total_amis_price }}</span>
            {% else %}
                <span class="badge badge-secondary">{{ total_amis_price }}</span>
            {% endif %}
        </td>
    </tr>

    <!-- Orphan EIPs -->
    <tr>
        <td><span class="btn btn-info">Elastic IPs</span></td>
        <td><span class="badge badge-success">{{ total_eips }}</span></td>
        <td>{% if orphan_eips|length %}<span class="badge badge-danger">{% else %}<span class="badge badge-success">{% endif %}{{ orphan_eips|length }}</span></td>
        <td>
            {% for ip in orphan_eips %}
                <span class="badge badge-primary">{{ ip }}</span>&nbsp;
            {% endfor %}
        </td>
        <td>
        </td>
        <td>
            {% if total_eips_price %}
                <span class="badge badge-warning">{{ total_eips_price }}</span>
            {% else %}
                <span class="badge badge-secondary">{{ total_eips_price }}</span>
            {% endif %}
        </td>
    </tr>

    <!-- Stopped Instances -->
    <tr>
        <td><span class="btn btn-info">Stopped Instances</span></td>
        <td><span class="badge badge-success">{{ total_instances }}</span></td>
        <td>{% if stopped_instances|length %}<span class="badge badge-danger">{% else %}<span class="badge badge-success">{% endif %}{{ stopped_instances|length }}</span></td>
        <td>
            {% for key, value in stopped_instances.items %}
                {% if value.name %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ value.name}}" class="badge badge-primary">{{ key }}</span>
                {% else %}
                    <span class="badge badge-primary">{{ key }}</span>
                {% endif %}
                &nbsp;<span class="badge badge-info">{{ value.total_vol_size }} GiB</span>
            {% endfor %}
        </td>
        <td>{% if total_instances_size %}
            <span class="badge badge-info">{{ total_instances_size }} GiB</span>
            {% endif %}
        </td>
        <td>
            {% if total_instances_price %}
                <span class="badge badge-warning">{{ total_instances_price }}</span>
            {% else %}
                <span class="badge badge-secondary">{{ total_instances_price }}</span>
            {% endif %}
        </td>
    </tr>

    <!-- Orphaned Target Groups -->
    <tr>
        <td><span class="btn btn-info">Unused Target Groups</span></td>
        <td><span class="badge badge-success">{{ total_target_groups }}</span></td>
        <td>{% if orphan_target_groups|length %}<span class="badge badge-danger">{% else %}<span class="badge badge-success">{% endif %}{{ orphan_target_groups|length }}</span></td>
        <td>
            {% for name in orphan_target_groups %}
                <span class="badge badge-primary">{{ name }}</span>&nbsp;
            {% endfor %}
        </td>
        <td></td>
        <td><span class="badge badge-secondary">0</span></td>
    </tr>
    </tbody>
</table>

<h2>
    <button class="btn btn-primary btn-lg" type="button">Underused Resources</button>
</h2>

<table class="table table-hover">
    <thead><tr><td>Resource Type</td><td>Total Count</td><td>Underused<br>Count</td><td>Underused List</td><td>Total Size</td><td>Total Price</td></tr></thead>
    <tbody class="table-striped">

    <!-- Underused Volumes -->
    <tr>
        <td><span class="btn btn-info">Underused Volumes</span></td>
        <td><span class="badge badge-success">{{ total_vols }}</span></td>
        <td>{% if underused_volumes|length %}<span class="badge badge-danger">{% else %}<span class="badge badge-success">{% endif %}{{ underused_volumes|length }}</span></td>
        <td>
            {% for vol, value in underused_volumes.items %}
                {% if value.inst_name %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ value.inst_name}} ({{ value.device }})" class="badge badge-primary">{{ vol }}</span>&nbsp;
                {% else %}
                    <span class="badge badge-primary">{{ vol }}</span>&nbsp;
                {% endif %}
            {% endfor %}
        </td>
        <td><span class="badge badge-info">{{ underused_size }} GiB</span></td>
        <td>
            {% if underused_price %}
                <span class="badge badge-warning">{{ underused_price }}</span>
            {% else %}
                <span class="badge badge-secondary">{{ underused_price }}</span>
            {% endif %}
        </td>
    </tr>

    <!-- Display long time stopped instances -->
    <tr>
        <td><span class="btn btn-info">Long Time stopped Instances</span></td>
        <td><span class="badge badge-success">{{ total_instances }}</span></td>
        <td>{% if long_time_stopped_instances|length %}<span class="badge badge-danger">{% else %}<span class="badge badge-success">{% endif %}{{ long_time_stopped_instances|length }}</span></td>
        <td>
            {% for key, value in long_time_stopped_instances.items %}
                {% if value.name %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ value.name}}" class="badge badge-primary">{{ key }}</span>
                {% else %}
                    <span class="badge badge-primary">{{ key }}</span>
                {% endif %}
                &nbsp;<span class="badge badge-info">{{ value.days }} days</span>
            {% endfor %}
        </td>
        <td><span class="badge badge-info">{{ long_time_stopped_inst_vol_size }} GiB</span></td>
        <td>
            {% if long_time_stopped_inst_vol_price %}
                <span class="badge badge-warning">{{ long_time_stopped_inst_vol_price }}</span>
            {% else %}
                <span class="badge badge-secondary">{{ long_time_stopped_inst_vol_price }}</span>
            {% endif %}
        </td>
    </tr>

    <!-- Display underused Reserved Instances -->
    <tr>
        <td><span class="btn btn-info">Underused Reserved Instances</span></td>
        <td><span class="badge badge-success">{{ total_ri }}</span></td>
        <td>{% if ri_not_filled|length %}<span class="badge badge-danger">{% else %}<span class="badge badge-success">{% endif %}{{ ri_not_filled|length }}</span></td>
        <td>
            {% for key, value in ri_not_filled.items %}
                <span class="badge badge-primary">{{ key }}</span>
                <span class="badge badge-info">{{ value }}</span>
            {% endfor %}
        </td>
        <td></td>
        <td></td>
    </tr>

    <!-- Display Instances that could be associated to RI -->
    <tr>
        <td><span class="btn btn-info">Instances not associated with RI</span></td>
        <td><span class="badge badge-success">{{ total_instances }}</span></td>
        <td>{% if ec2_without_ri|length %}<span class="badge badge-danger">{% else %}<span class="badge badge-success">{% endif %}{{ ec2_without_ri|length }}</span></td>
        <td>
            {% for key, value in ec2_without_ri.items %}
                {% if value.days > 180 %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ value.inst.instance_type }} ({{ value.days }} days)" class="badge badge-danger">
                {% elif value.days > 180 %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ value.inst.instance_type }} ({{ value.days }} days)" class="badge badge-warning">
                {% else %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ value.inst.instance_type }} ({{ value.days }} days)" class="badge badge-primary">
                {% endif %}
                {{ value.name }}</span>
                <!-- <span class="badge badge-info">{{ value }}</span> -->
            {% endfor %}
        </td>
        <td></td>
        <td></td>
    </tr>

    </tbody>
</table>

  </div>
</div>
{% endblock %}