{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" /> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript">
        function confirmBox() {
            //return bootbox.dialog("{% trans "Do you confirm ?" %}");
            return confirm("{% trans "Do you confirm ?" %}");
        }
    </script>

    <script src="{% static 'jquery/jquery-2.1.4.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootbox.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <!-- <script src="{% static 'js/datatables.min.js' %}"></script> -->
    <script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js" type="text/javascript"></script>
    <!-- <script defer src="{% static 'fontawesome/fontawesome-all.js' %}" type="text/javascript"></script> -->
</head>
<body style="padding-top: 54px;">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">EZ AWS ({{ VERSION }})</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item">
                    <select class="form-control cust_name">
                    {% for n in names %}
                        <option {% if n == current %}selected{% endif %}>{{ n }}</option>
                    {% endfor %}
                    </select>
                </li>
                <li>&nbsp;&nbsp;&nbsp;</li>
            </ul>
            {% endif %}
        <ul class="navbar-nav mt-2 mt-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user }} <i class="fa fa-user fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% if not user.is_superuser %}
                    <a class="dropdown-item" href="{% url 'auth_profile' %}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    <a class="dropdown-item" href="{% url 'aws_parms' %}"><i class="fa fa-key fa-fw"></i> AWS Parameters</a>
                    {% if request.session.customer %}
                    <a class="dropdown-item" href="{% url 'check_key' request.session.customer %}"><i class="fa fa-key fa-fw"></i> Check AWS Keys</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'change_password' %}"><i class="fa fa-unlock fa-fw"></i>Change Password</a>
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a class="dropdown-item" href="{% url 'admin:index' %}">Administration</a>
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'auth_logout' %}"><i class="fa fa-power-off fa-fw"></i> Logout</a>
                </div>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>

<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="position:fixed;">
        <ul class="sidebar-nav">
            {% if user.is_authenticated %}
            <li><a style="color:#999999;" onclick="goto_console()">Goto AWS Console</a></li>
            <li><a style="color:#999999;" onclick="show_instances()">Instances</a></li>
            <li><a style="color:#999999;" onclick="show_reserved_instances()">Reserved Instances</a></li>
            <li><a style="color:#999999;" onclick="show_volumes()">Volumes</a></li>
            <li><a style="color:#999999;" onclick="show_snapshots()">Snapshots</a></li>
            <li><a style="color:#999999;" onclick="check_snapshots()">Check Snapshots</a></li>
            <li><a style="color:#999999;" onclick="show_elbs()">ELB</a></li>
            <li><a style="color:#999999;" onclick="show_elasticache()">ElastiCache</a></li>
            <li><a style="color:#999999;" onclick="show_s3()">S3</a></li>
            <li><a style="color:#999999;" onclick="start_audit()">Run Audit</a></li>
            <li><a style="color:#999999;" onclick="view_audit_reports()">View Audit Reports</a></li>
            {% endif %}
        </ul>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% bootstrap_messages %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<script type="text/javascript">
// AJAX for posting
function create_post() {
    console.log("create post is working!") // sanity check
    $.ajax({
        url : "/web/ajax/get_customers", // the endpoint
        type : "GET", // http method
        data : '',

        // handle a successful response
        success : function(json) {
            $('#post-text').val(''); // remove the value from the input
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};


function get_cust_name() {
    {% if user.is_superuser %}
    var cust_name  = $("select.cust_name").val();
    {% else %}
    var cust_name = "{{ request.session.customer }}";
    {% endif %}

    //alert(cust_name);
    return cust_name;
}

function goto_console() {
    var cust_name = get_cust_name();
    window.open('/web/goto_console/' + cust_name, '_blank');
}

function show_instances() {
    var cust_name = get_cust_name();
    window.location = '/web/get_instances/' + cust_name;
}

function show_reserved_instances() {
    var cust_name = get_cust_name();
    window.location = '/web/get_reserved_instances/' + cust_name;
}

function show_volumes() {
    var cust_name = get_cust_name();
    window.location = '/web/get_volumes/' + cust_name;
}

function show_snapshots() {
    var cust_name = get_cust_name();
    window.location = '/web/get_snapshots/' + cust_name;
}

function check_snapshots() {
    var cust_name = get_cust_name();
    window.location = '/web/check_snapshots/' + cust_name;
}

function show_elbs() {
    var cust_name = get_cust_name();
    window.location = '/web/get_elbs/' + cust_name;
}

function show_elasticache() {
    var cust_name = get_cust_name();
    window.location = '/web/get_elasticache/' + cust_name;
}

function show_s3() {
    var cust_name = get_cust_name();
    window.location = '/web/get_s3/' + cust_name;
}

function start_audit() {
    var cust_name = get_cust_name();
    window.location = '/web/audit/' + cust_name;
}

function view_audit_reports() {
    var cust_name = get_cust_name();
    window.location = '/web/view_audit_reports/' + cust_name;
}

$(document).ready(function() {
    $('.table').DataTable({
        'pageLength': 100
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({html: true})
    });
} );
</script>
    {% block more_js %}{% endblock %}
<footer class="footer">
</footer>
</body>
</html>