{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Reserved Instances" %}{% endblock %}

{% block content %}
<div class="card card-default">
  <div class="card-body">
    <h2>
        <button class="btn btn-primary btn-lg" type="button">Reserved Instances List <span class="badge badge-light"><b>{{ rsvlist|length }}</b></span></button>
    </h2>
    <table class="table table-hover">
        <thead><tr><td>Description</td><td>Model Type</td><td>Count</td><td>Scope</td><td>End Time</td><td>Offering Class</td><td>Offering Type</td><td>Price</td></tr></thead>
        <tbody class="table-striped">
        {% for inst in rsvlist %}
            <tr>
                <td><h5><span class="badge badge-dark">{{ inst.productDescription }}</span></h5></td>
                <td><span class="badge badge-success">{{ inst.instanceType }}</span></td>
                <td>{{ inst.instanceCount }}</td>
                <td>{{ inst.scope }}</td>
                <td>
                    <span class="badge badge-{{ inst.timealert }}">{{ inst.endtime }}</span>
                <td>{{ inst.offeringClass }}</td>
                <td>{{ inst.offeringType }}</td>
                <td><span class="badge badge-secondary">{{ inst.fixedPrice }}</span>+<span class="badge badge-secondary">{{ inst.monthlyPrice }}</span> /month</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
