{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% block title %}{% trans "S3 Buckets" %}{% endblock %}

{% block content %}
<script>
    var total_size = 0;

    function get_s3_metrics(bucket_name, normalized_name, location) {
        var tag_size = "#s3-size-" + normalized_name;
        var tag_count = "#s3-count-" + normalized_name;
        var total_size_tag = "#total_size";
        var total_price_tag = "#total_price";

        $.ajax({
        url : "/web/ajax/get_s3_metrics/{{ current }}/" + bucket_name + '/' + location, // the endpoint
        type : "GET", // http method
        data : '',

        // handle a successful response
        success : function(json) {
            $(tag_size).html(json.bucket_size);
            $(tag_size).toggleClass("badge badge-info");
            $(tag_count).html(json.nb_objects);
            $(tag_count).toggleClass("badge badge-info");
            if (json.bucket_size != "n/a") {
                total_size += json.bucket_size;
                $(total_size_tag).html(total_size);
                $(total_price_tag).html('$' + (Math.floor(total_size * 0.023)));
             }
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $(tag).html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
        });
     }
</script>
<div class="card card-default">
  <div class="card-body">
<h2>
    <button class="btn btn-primary btn-lg" type="button">S3 Bucket List <span class="badge badge-light"><b>{{ bucketlist|length }}</b></span></button>
    <button class="btn btn-warning btn-lg" type="button">Average Price per Month <span class="badge badge-light"><b id="total_price">${{ price }}</b></span> (without Data Transfer)</button>
    <button class="btn btn-success btn-lg" type="button">Total Size <span class="badge badge-light"><b id="total_size">0</b></span>  GiB</button>
</h2>
<table class="table table-hover">
    <thead><td>Name</td><td>Creation Date</td><td>Size (GiB)</td><td>Object Count</td></thead>
    <tbody class="table-striped">
    {% for bucket in bucketlist %}
        <tr>
            <td><h5><span class="badge badge-dark">{{ bucket.name }}</span></h5></td>
            <td><span class="badge badge-success">{{ bucket.creation_date }}</span></td>
            <td>
                <span id="s3-size-{{ bucket.normalized_name }}" class=""><i class="fas fa-spinner fa-pulse"></i></span>
                <script>get_s3_metrics("{{ bucket.name }}", "{{ bucket.normalized_name }}", "{{ bucket.location }}")</script>
            </td>
            <td>
                <span id="s3-count-{{ bucket.normalized_name }}" class=""><i class="fas fa-spinner fa-pulse"></i></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
  </div>
</div>
{% endblock %}
