{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Volumes" %}{% endblock %}

{% block content %}
<script>
    var state_filter = "all";
    var volnumber = {{ vol_list|length }};

    function apply_filter(value) {
        for (let i = 1 ; i <= volnumber ; i++ ) {
            var tr = $("#volume" + i);
            var cur_state = tr.attr("state");
            if (value != cur_state && value != "all") {
                tr.hide();
            } else {
                tr.show();
            }
        }
    }

    function get_vol_ops(volume_id) {
        $.ajax({
        url : "/web/ajax/get_vol_ops_metrics/{{ current }}/" + volume_id, // the endpoint
        type : "GET", // http method
        data : '',

        // handle a successful response
        success : function(json) {
            var rtag = "#vol-read-" + volume_id;
            var wtag = "#vol-write-" + volume_id;
            var rtiptag = "#vol-read-tip-" + volume_id;
            var wtiptag = "#vol-write-tip-" + volume_id;

            if (json.read_ops == undefined) {
                json.read_ops = 'N/A';
                $(rtag).toggleClass("badge badge-secondary");
                $(rtiptag).show();
            }
            else if (json.read_ops == 'Err') {
                $(rtag).toggleClass("badge badge-danger");
            }
            else if (json.read_ops != 'N/A' && (json.read_ops/30) < 10000) {
                if ((json.read_ops/30) < 100) {
                    $(rtag).toggleClass("badge badge-danger");
                }
                else {
                    $(rtag).toggleClass("badge badge-warning");
                }
            }
            else {
                $(rtag).toggleClass("badge badge-info");
            }

            if (json.write_ops == undefined) {
                json.write_ops = 'N/A';
                $(wtag).toggleClass("badge badge-secondary");
                $(wtiptag).show();
            }
            else if (json.write_ops == 'Err') {
                $(wtag).toggleClass("badge badge-danger");
            }
            else if (json.write_ops != 'N/A' && (json.write_ops/30) < 10000) {
                if ((json.write_ops/30) < 100) {
                    $(wtag).toggleClass("badge badge-danger");
                }
                else {
                    $(wtag).toggleClass("badge badge-warning");
                }
            }
            else {
                $(wtag).toggleClass("badge badge-info");
            }
            $(rtag).html(json.read_ops);
            $(wtag).html(json.write_ops);
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $(rtag).html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
        });
     }
</script>
<div class="card card-default">
  <div class="card-body">
<h2>
    <button class="btn btn-primary btn-lg" type="button">Volume List <span class="badge badge-light"><b>Total: {{ total_vols }} - Orphans: {{ total_orphans }}</b></span></button>
    <button class="btn btn-warning btn-lg" type="button">Price per Month: <span class="badge badge-light"><b>${{ total_price }}</b></span></button>
    <button class="btn btn-warning btn-lg" type="button">Total Size: <span class="badge badge-light"><b>{{ total_size }}</b> GiB</span></button>
    <button class="btn btn-primary btn-light" type="button">Filter:
        <select id="state_filter" onChange="apply_filter(this.value)">
            <option value="all" selected="selected">all</option>
            <option value="attached">attached</option>
            <option value="available">available</option>
        </select>
    </button>
</h2>
            <div class="table-responsive">
<table class="table table-hover">
    <thead><tr><td>Volume ID</td><td>Name</td><td>Size</td><td>Type</td><td>Attachment</td><td>Device</td><td>Read Ops/30 days</td><td>Write Ops/30 days</td></tr></thead>
    <tbody class="table-striped">
    {% for vol in vol_list %}
        <tr id="volume{{ forloop.counter }}" state="{{ vol.state }}">
            <td><span class="badge badge-dark">{{ vol.volume_id }}</span></td>
            <td><span class="badge badge-dark">{{ vol.name }}</span></td>
            <td><span class="badge badge-info">{{ vol.size }} GiB</span></td>
            <td>
            {% if vol.type == 'standard' %}
                <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="This Volume Type does not support online resizing">{{ vol.type }} <i class="fas fa-lg fa-info-circle"></i></span>
            {% else %}
                <span class="badge badge-success">{{ vol.type }}</span>
            {% endif %}
            </td>
            <td>
                {% if vol.instance_name|length >= 24 %}
                <span data-toggle="tooltip" data-placement="top" title="{{ vol.instance_name }}" class="badge badge-primary">{{ vol.instance_name|truncatechars:24 }}</span>
                {% else %}
                    {% if vol.instance_name|length == 0 %}
                        <span class="badge badge-light">Available</span>
                    {% else %}
                        <span class="badge badge-primary">{{ vol.instance_name }}</span>
                    {% endif %}
                {% endif %}
            </td>
            <td><span class="badge badge-success">{{ vol.device }}</span></td>
            <td>
                {% if vol.instance_name|length != 0 %}
                    <span id="vol-read-{{ vol.volume_id }}" class=""><i class="fas fa-spinner fa-pulse"></i></span>
                    <span id="vol-read-tip-{{ vol.volume_id }}" style="display:none;" data-toggle="tooltip" data-placement="top" title="Cannot get Metrics on a non-attached Volume<br>or attached to a stopped Instance"><i class="fas fa-lg fa-info-circle"></i></span>
                {% endif %}
            </td>
            <td>
                {% if vol.instance_name|length != 0 %}
                    <span id="vol-write-{{ vol.volume_id }}" class=""><i class="fas fa-spinner fa-pulse"></i></span>
                    <span id="vol-write-tip-{{ vol.volume_id }}" style="display:none;" data-toggle="tooltip" data-placement="top" title="Cannot get Metrics on a non-attached Volume<br>or attached to a stopped Instance"><i class="fas fa-lg fa-info-circle"></i></span>
                    <script>get_vol_ops("{{ vol.volume_id }}")</script>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
            </div>
  </div>
</div>
{% endblock %}
